/*------------------------------- disseny per movils ----------------------------------------- */

/* For mobile phones: utilitzam un disseny amb 1 columna*/
[class*="col-"] {width: 100%;}
* {box-sizing: border-box;} /*indica al navegador que tingui en compte qualsevol vora en el valor que s'especifiqui per a l'amplada i l'alçada, normalment es fica quan tenim 1 columna */

html {
  font-family: 'Roboto', sans-serif;
  font-size: small;
  background-color: #e1f5fe;
  padding: 1em;
}
h1 {
  font-family: 'Roboto Light', sans-serif;
  font-size: larger;
}
header {
  background-color: #01579b;
  color: white;
  padding: 1em;
  max-width: 100%;
  border-radius: .5em;
}
.center-fit {
  display: grid;
  margin: auto;
  max-width: 100%;
}
#shortcuts, #other {display: none;}
#welcome {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-top: 1em;
}
article, #menu, #special-links, #proverb {
  border: thin solid #01579b;
  border-radius: .5em;
  padding: 1em;
  margin-top: 1em;
  background-color: white;
}
h1 {
  color: #01579b;
  padding-bottom: .5em;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {text-decoration: underline;}
#menu li {font-family: 'Roboto Light', sans-serif;}
#menu li::before {
  content: "> ";
  padding-left: 1em;
  line-height: 1.5;
}
footer {
  background-color: #01579b;
  color: white;
  font-size: smaller;
  line-height: 2;
  text-align: center;
  padding: 1.5em;
  border-radius: .5em;
  margin-top: 1em;
}


/*------------------------------- disseny per Tablets ----------------------------------------- */

@media only screen and (min-width: 600px) { /*definim amplada máxima */

  /* For tablets: utilitzem un disseny amb 12 columnes degut a l'amplada d'una tablet*/
  [class*="col-"] {float: left;}

  #menu {margin-right: 1.5%;}

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 23.5%;} /* 25% - 1.5% (due to margin-right) */
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 48.5%;} /* 50% - 1.5% (due to margin-right) */
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  #shortcuts {display: block;}
  #shortcuts {
    background-color: #eeeeee;
    /* color: #01579b; */
    /* Color principal lila. */
    color: #aa00ff;
    font-size: larger;
    text-align: center;
    display: table;
    padding: 1em;
    margin-top: 1em;
    max-width: 100%;
    border-radius: .5em;
  }
  #shortcuts ul {
    display: flex;
    justify-content: space-around;
  }
  cite {font-style: italic;}
  #author {
    margin-top: 0.5em;
    font-weight: bold;
    text-align: right;
  }
}


/*------------------------------- disseny per desktop ----------------------------------------- */

@media only screen and (min-width: 768px) {
  /* For desktop:  utilitzem un disseny amb 12 columnes amb alguna variació del % per adaptarlo millor */
   #articles {margin-right: 1.5%;}

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 23.5%;} /* 25% - 1.5% (due to margin-right) */
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 48.5%;} /* 50% - 1.5% (due to margin-right) */
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  html {background-color: #eeeeee;}
  h1 {font-family: 'Roboto', sans-serif;}
  article, #menu, #special-links, #proverb {
    border: medium solid #01579b;
    border-radius: .7em;
    padding: 1em;
    margin-top: 1em;
    background-color: white;
  }
  #other {display: block;}
}
